/* CSS declarations go here */
body {
	background-color: gray;
}

.main-header-container {
	position: fixed;
	z-index: 1000;
	background-color: beige;
	text-align: center;
}

.main-header {
	padding: 10px;
}

input {
	text-transform: uppercase;
	text-align: center;
	max-width: 500px;
	margin: 0 auto;
}

button {
	margin: 0 10px;
}

.followers {
	text-align: center;
	text-transform: uppercase;
	margin-top: 220px;
}


.userName, .not-found, .no-followers {
	font-family: 'Noto Serif', serif;
	text-transform: uppercase;
	font-size: 20px;
}

.name {
	font-family: 'Noto Serif', serif;
	color: red;
}

.main-title, .follower-login {
	font-family: 'Noto Serif', serif;
	font-weight: bold;
}

.follower-image {
	width: 100%;
}

.follower-login {
	font-size: 12px;
	color: white;
}

.follower-link:hover {
	color: red;
}

.show {
	display: inline-block !important;
}

@media (max-width: 795px) {
	.main-title {
		font-size: 20px;
	}

	.userName, .name {
		font-size: 15px;
	}

	.followers {
		margin-top: 220px;
	}

	.form-control {
		font-size: 12px;
	}
}

@media (max-width: 730px) {
	.follower-login {
		font-size: 15px;
	}
}

@media (max-width: 435px) {
	.followers {
		margin-top: 230px;
	}
}